%section#home{ 'data-speed' => "10", 'data-type' => "background" }
  .page
    %ul.streams{ 'data-layer' => 0 }
      %li{ :'ng-repeat' => "stream in filteredSnow | limitTo: 7", :'ng-class' => "{ new: stream.play_count == 0 }", :'ng-style' => "{ background: 'url(\"{{stream.thumbnail}}\") 100% center' }" }
        %a{ :'href' => "{{stream.url}}", :'ng-click' => "trackPlay()", :target => '_blank' }
          %p.details
            %span.title {{stream.title}}
            %br
            %span.play_count {{stream.play_count}}

    = render('page_controls', :sport => 'snow')
