-#%a{ :id => "update" } Update

-# - if @current_user.username == 'Guest'
-#   -# render('users/create')
-#   = render('users/login')

#contols
  #p2
    Skate
  #p1
    Snow
  #p3
    Surf

#cube
  #f3
    = render('cube_face', sport: 'surf', background: 'bkg_surf_1_resize.jpg')
  #f2
    = render('cube_face', sport: 'skate', background: 'bkg_skate_1_resize.jpg')
  #f1
    = render('cube_face', sport: 'snow', background: 'bkg_snow_1_resize.jpg')
