// Place all the styles related to the streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Calibri';
}

.page {
  position: absolute;
  width: 100%;
  height: 710px;
  top: 7%;
  left: 7%;
  overflow: hidden;

  .page_back, .page_forward {
    display: inline-block;
    float: left;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    border: none;
    outline: none;
    opacity: 0.75;
    transition: opacity .25s;

    &:hover {
      opacity: 1
    }
  }

  .page_back {
    background: url('icon_backarrow.png') no-repeat left center;
    margin-left: 420px;
  }

  .page_forward {
    background: url('icon_forwardarrow.png') no-repeat right center;
    margin-left: 10px;
  }
}

ul.streams {
  width: 500px;
  height: 655px;
  box-shadow: 0 1px 1px #000;
}

li {
  display: inline-block;
  float: left;
  width: 50%;
  height: 135px;
  background-size: 100% !important;
  opacity: .5;
  transition: opacity .25s;

  &:first-of-type {
    width: 100%;
    height: 250px;
  }

  &.new {
    opacity: .9;
  }

  &:hover {
    opacity: 1;

    .details {
      opacity: 1;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .details {
    position: fixed;
    left: 650px;
    top: 100px;
    width: 50%;
    opacity: 0;
    color: #fff;
    pointer-events: none;
    transition: opacity linear .25s;
    text-shadow: 0 1px #000;

    .title {
      font: 25px 'Calibri';
    }

    .play_count {
      display: inline-block;;
      height: 30px;
      width: 75px;
      margin-top: 10px;
      padding-left: 45px;
      background: url('icon_eye.png') no-repeat left center;
      background-size: 32px;
      line-height: 30px;
      font-size: 24px;
    }
  }

  // Angular Animations
  &.ng-enter,
  &.ng-leave {
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: .5;
  }

}
